<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
    Бассейн – сложное гидротехническое сооружение, для полноценной работы которого требуется широкий спектр оборудования. Правильный выбор оборудования обеспечит качественную и своевременную очистку воды, комфортную температуру, беспроблемную эксплуатацию на долгие годы.</span>  </div>
</div>

<div class="purpose" >
  <span>Виды оборудования</span>
  <ul>
    <li>-Фильтры - поддерживают воду в идеальном состоянии на протяжении всего года. Изделия с песочным наполнителем отличаются простотой, эффективностью и экономностью.   </li>
    <li>-Насосы - выделяют модели с префильтрами, предназначенные для циркуляции и фильтрации воды, и без префильтров, созданные для организации водных аттракционов.</li>
    <li>-Подогрев -  поддерживает комфортную температуру в бассейне. В зависимости от конструкции водоема производители предлагают теплообменники и электронагреватели.    </li>
    <li>-Электрооборудование - осуществляет контроль и регулировку работы оборудования для всех типов бассейна (насосов, нагревателей, фильтров, освещения, аттракционов). </li>
    <li>-Контроль уровня воды - доливают или сливают воду до указанного владельцем уровня. Бывают механическими и электронными.</li>
    <li>-Лестницы - оборудование, делающее спуск и подъем из бассейна максимально удобным и безопасным.</li>
    <li>-Подсветка - выполняет декоративную функцию и обеспечивает высокий уровень безопасности купания в ночное время.</li>
    <li>-Защитные покрытия - зимние и универсальные покрытия, оберегающие воду в бассейне от зацветания, загрязнения, охлаждения воды. Отдельные модели предотвращают падение домашних животных и детей в бассейн.</li>
    <li>-Прочее - роботы очистители избавят вас от необходимости вручную чистить бассейны, а разнообразные аксессуары и водные аттракционы сделают эксплуатацию интереснее.</li>
  </ul>
</div>
<div class="catalog"><span>КОНТЕЙНЕР С ТОВАРАМИ</span></div>
