<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg">
  <div class="image_description"><span>
Мы ценими Ваш комфорт и удобство и поэтому предоставляем услугу доставки в пределах города Минска.  </span>
  </div>
</div>

<div class="delivery__container">
  <div class="delivery__description">
    <span class="header">Мы доставим Ваш заказ в любую точку города Минска. При доставке грузовой машиной сроки доставки
    согласуются индивидуально.</span>
    <br>
    <span style="font-weight: bold;">Доставка курьером на легковой машине</span>
    <br>
    <span>Цена:</span>
    <ul>
      <li>Заказ на сумму 500,00 руб. и более - бесплатно</li>
      <li>Заказ на сумма менее 500,00 руб. - 10 руб. </li>
    </ul>
    <span>Цена доставки не зависит от количества единиц товара.</span>
    <br>
    <span style="font-weight: bold;">Самомывовз из склада в Минске</span>
    <br>
    <span>Товары со склада отгружаются только после согласования заказа с офисом. Адрес склада: ул. ____________.
    </span>
  </div>
  <div class="delivery__scheme">
    <span style="font-weight: bold; font-size: 18px;"> Схема проезда на склад:</span>
    <br>
  <div id="map" style="width:500px;height:500px;"></div>
  </div>
</div>
