<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
Правильное и своевременное обслуживание бассейна позволяют сохранить воду чистой, прозрачной, и дезинфицированной для человека на протяжении всего года.</span>
  </div>
</div>

<div class="purpose" >
  <span>Химические реагенты и их назвачение</span>
  <ul>
    <li>-Дезинфекция – в воду бассейна постоянно заносится и присутствует органика и различные микроорганизмы в виде бактерий и вирусов. Для обеззараживания воды используются препараты на основе хлора, либо активного кислорода (бесхлорные препараты).
    </li>
    <li>-Удаление водорослей – споры одноклеточных растений перемещаются по воздуху, попадают в бассейн и приживаются в нем в виде скользкого налета на стенках, трудноудалимых бурых пятен, развиваются грибки и микроорганизмы. Справиться с ними помогают альгициды.
    </li>
    <li>-Нормализация pH – если уровень pH ниже 7, то металлические детали бассейна заржавеют. Если уровень pH выше 7,8, снижается действие дезинфицирующих средств, вода зацветает. Чтобы повысить качество воды необходимо удерживать pH на уровне 7-7,4, используются специальные корректоры.
    </li>
    <li>-Очищение от мутности – для предотвращения помутнения воды из-за мельчайших взвешенных частиц и загрязнений, добавляются флокулянты (коагулянты).
    </li>
  </ul>
</div>
<div class="catalog"><span>КОНТЕЙНЕР С ТОВАРАМИ</span></div>
