<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
   Компания Аква Технолоджи работает на Белорусском рынке c 2009 года и предлагает полный
      комплекс оборудования водоподготовки бассейнов со своего склада в Минске.</span>
  </div>
</div>



<div class="about">
  <div style="display:flex;">

  <div>
    <p>Офис в минске</p>
    <p>Адрес: г. Минск, ул. Монтажников, 9-84 <a style="cursor: pointer;" (click)="showMap()">(показать на карте)</a></p>
    <p>Рабочие часы: 9<sup>00</sup>-18<sup>00</sup></p>
    <p>Телефон: +375(17)209-39-44</p>
    <p>E-mail: info@e-pool.by</p>
  </div>
    <div id="map" style="width:500px;height:500px;display:none;"></div>
  </div>


  <span>Наша Компания специализируется на: </span>
  <ul class="about__information">
    <li>-Работах по монтажу оборудования на объекте, обвязке чаши бассейна трубопроводами, гидроизоляционные и
      отделочные
      работы.
      На все работы получены разрешительные документы в РУП "Белстройцентр";
    </li>
    <li>-Гарантийном и сервисном обслуживании смонтированного оборудования и поставке химреагентов для воды;</li>
    <li>-Монтаже композитных бассейнов и бассейнов из полипропилена;</li>
    <li>-Установке гейзеров, систем гидромассажа, искусственного течения;</li>
    <li>-Продажи оборудования для бассейнов</li>
    <li>-Комплектации спортивных бассейнов для профессиональной подготовки спортсменов.</li>
  </ul>

  <div class="about__pruf">
    <a routerLink="sertificates">
      <div class="phone">

        <button class="phone__button">СЕРТИФИКАТЫ</button>

      </div>
    </a>
    <a routerLink="trade-marks">
      <div class="phone">

        <button class="phone__button">ТОРГОВЫЕ МАРКИ</button>
      </div>
    </a>

    <a routerLink="reviews">
      <div class="phone">
        <button class="phone__button">ОТЗЫВЫ</button>
      </div>
    </a>
  </div>

</div>
