@media (min-device-width: 1240px) {
  :host {
    width: 100%;
    height: (calc(100% - 420px));
  }

}

@media (max-device-width: 1239px) {
  :host {
    width: 100%;
    height: (calc(100% - 250px));
  }
}

.image {
  &_description {
    text-align: center;
    width: 50%;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    font-family: Segoe UI Light, serif;
    letter-spacing: 2px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 50px;
  }
}

.about {
  width: 90%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;

  &__information {
    text-align: center;
    list-style-type: none;
    li {
      text-align: left;
    }
  }
  &__pruf {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 20px;
    span {
      border: 0.1px solid black;
    }

  }
  &__certificate {
    padding: 60px 60px;
    background: transparent;
    border: 0;
  }
  &__trademarks {
    padding: 60px 60px;
    background: transparent;
    border: 0;
  }
  &__replies {
    padding: 60px 60px;
    border: 0;
    background: transparent;
  }
  a {
    color: black;
    text-decoration: none;

    .phone {
      display: flex;
      justify-content: center;
      height: 35px;
      &__button {
        background-color: transparent;
        border: 0.1px solid black;
        font-family: Segoe UI Light, serif;
        width: 200px;
        &:hover{
          color: brown;
        }
      }
    }
  }
}

