@media (min-device-width: 1024px) {
  :host {
    width: 100%;
    height: 12vw;
    display: flex;
    justify-content: space-around;
  }

  .logo {
    width: 20%;
    height: 23vw;
    background: url(../../../assets/logoheader.png) no-repeat;
    background-size: contain;
    margin: 10px 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
    &_mobile {
      display: none;
    }
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    &_mobile {
      display: none;
    }
    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      letter-spacing: 0.75px;
      min-width: 200px;
      height: 50px;
      justify-content: center;
      font-size: 1.3vw;

    }
    &__navigation {
      width: 100%;
      display: flex;
      justify-content: space-around;
      span {
        white-space: nowrap;
        padding: 0 10px;
        a {
          color: black;
          text-decoration: none;
          font-size: 1.3vw;
          letter-spacing: 2px;
          &:hover {
            color: brown;
          }
        }
      }
    }

    &__second {
      font-size: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%;
      &_mobile {
        display: none;
      }
    }
    &__button {
      &_mobile {
        display: none;
      }
    }
  }

  .phone {
    display: flex;
    justify-content: center;
    height: 35px;
    &__button {
      background-color: transparent;
      border: 0.1px solid black;
      font-family: Segoe UI Light,serif;
    }
    &_mobile {
      display: none;
    }
  }
  .navigate {
    &_mobile {
      &_disabled, &_enabled {
        display: none;
      }
    }
  }
  .subMenu {
    display: inline-block;
    position: relative;
    &__box {
      position: absolute;
      display: none;
      z-index: 20;
    }
    &:hover {
      .subMenu__box {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -50px;
        padding-top: 5px;
        background-color: #d8d8d8;
        -webkit-margin-after: 0;
        -webkit-margin-before: 0;
        opacity: 0.9;
        text-align: center;
        a{
          color: #605a5a;
          &:hover{
            color: black;
          }

        }
      }
    }
  }
}

@media (max-device-width: 1023px) {
  :host {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;

  }
  .information {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &_mobile {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &__logo {
      &_mobile {
        background: url(../../../assets/logoheader.png) no-repeat;
        background-size: contain;
        width: 200px;
        height: 100px;
        cursor: pointer;
      }
    }
    &__contacts {
      display: none;
      &_mobile {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        min-width: 140px;
      }
    }
    &__second {
      &_mobile {
        display: flex;
        justify-content: space-around;
      }
    }
    &__navigation {
      display: none;
    }
    .icon-menu {
      background: transparent;
      width: 120px;
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
      &:before {
        content: '\f0c9';
        font-family: 'FontAwesome',serif;
        font-size: 30px;
      }
    }
  }
  .phone {
    display: none;
    &__button {
      &_mobile {
        padding: 10px 16px;
        background-color: transparent;
        border: 0.1px solid black;
      }
    }
  }
  .navigate {
    &_mobile {
      &_disabled {
        display: none;
      }
      &_enabled {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: black;
        z-index: 10;
        color: white;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        justify-content: center;
        align-items: center;
        a {
          color: white;
          text-decoration: none;
          font-size: 20px;
          letter-spacing: 2px;
          &:hover {
            color: brown;
          }
        }
      }
    }
  }
}
