<!--<div class="logo" routerLink=""></div>-->

<div class="information">

  <div class="information__navigation">

    <span class='subMenu'><a routerLink="pools">БАССЕЙНЫ</a>
      <span class='subMenu__box'>
        <a routerLink="pools/finished-swimming-pools"><span>Композитные бассейны</span></a>
        <a routerLink="pools/pool-development"><span>Строительство бассейнов</span></a>
      </span>
    </span>

    <span class='subMenu'><a routerLink="equipment">ОБОРУДОВАНИЕ</a>
      <span class='subMenu__box'>
        <a routerLink="equipment/all-equipment"><span>Оснащение</span></a>
        <a routerLink="equipment/care"><span>Уход</span></a>
        <a routerLink="equipment/decoration"><span>Отделка</span></a>
        <a routerLink="equipment/fittings"><span>Соединительные элементы</span></a>
       </span>
    </span>

    <!--<span><a routerLink="service">СЕРВИС</a></span>-->

    <span><a routerLink="portfolio">ПОРТФОЛИО</a></span>
    <span class='subMenu'><a routerLink="about">КОМПАНИЯ</a>
      <span class='subMenu__box'>
        <a routerLink="about/order-and-payment"><span>Заказ и оплата</span></a>
        <a routerLink="about/delivery"><span>Доставка и самовывоз</span></a>
      </span>
    </span>
  </div>

  <div class="information_mobile">
    <div class="information__logo_mobile" routerLink=""></div>
    <div class="information__second_mobile">
      <button class="icon-menu" (click)="showMenu()"></button>
    </div>
  </div>




</div>

<div class="information__second">

  <div class="information__contacts">
    <span>+375(17)209-39-44</span>
    <span>+375(29)312-33-21</span>
  </div>

</div>


<div id='menu' class="navigate_mobile_disabled">
  <span><a routerLink="" (click)="hideMenu()">Главная</a></span>
  <span><a routerLink="pools" (click)="hideMenu()">Бассейны</a></span>
  <span><a routerLink="equipment" (click)="hideMenu()">Оборудование</a></span>
  <span><a routerLink="service" (click)="hideMenu()">Сервис</a></span>
  <span><a routerLink="about" (click)="hideMenu()">Компания</a></span>
</div>
