<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
Бассейн – сложное гидротехническое сооружение, для полноценной работы которого требуется широкий спектр оборудования. Правильный выбор оборудования обеспечит качественную и своевременную очистку воды, комфортную температуру, беспроблемную эксплуатацию на долгие годы.
</span></div>
</div>

<div class="equipment__container">
  <div class="equipment__description">
    <a routerLink="all-equipment"><span class="header">Оборудование для бассейнов</span></a>
    <br>
    <span class="text_description">Оборудование для бассейнов служат для того, чтобы организовать качественную рецекуляцию воды вкупе с ее подогревом
      дезинфекцией. В их состав входят насосы, фильтра, обогреватели, электрооборудование и прочее.
      </span>
  </div>
  <a routerLink="all-equipment"><img src="./../../../../../assets/equipment1.jpeg" class="equipment__image_1"></a>
</div>

<div class="equipment__container">
  <a routerLink="care"><img src="./../../../../../assets/chemisry1.png" class="equipment__image_bottom"></a>
  <div class="equipment__description">
    <a routerLink="care"><span class="header">Уход за водой</span></a>
    <br>
    <span class="text_description">Химические реагенты позволяют сохранить воду чистой, прозрачной, и безопасной для человека на протяжении всего года.
      </span>
  </div>

</div>

<div class="equipment__container">
  <div class="equipment__description">
    <a routerLink="decoration"><span class="header">Отделка стен бассейна</span></a>
    <br>
    <span class="text_description">Определяя материал отделки чаши бассейна каждый потребитель исходит из индивидуальных
      критериев оценки того либо иного материала. В пользу выбора армированной пленки говорит много факторов, как
      экономического, так и эстетического плана. Пленка для бассейна одновременно обеспечивает гидроизоляцию бассейна,
      что существенно снижает его стоимость по сравнению с отделкой из плитки или мозаики, требующей предварительного
      устройства качественного гидроизоляционного слоя, который, зачастую в ходе многолетней эксплуатации бассейна
      начинает протекать. Внешний вид бассейна отличается очень высокими положительными оценками потребителей.
      </span>
  </div>
  <a routerLink="decoration"><img src="./../../../../../assets/decoration1.jpg " class="equipment__image_top"></a>
</div>

<div class="equipment__container">
  <a routerLink="fittings"><img src="./../../../../../assets/fiting1.jpg" class="equipment__image_bottom"></a>
  <div class="equipment__description">
    <a routerLink="fittings"><span class="header">Соединительные элементы</span></a>
    <br>
    <span class="text_description">Фитинги - соединительная часть трубопровода, устанавливаемого для разветвления,
      поворотов, переходов на другой диаметр, а также при необходимости частой сборки и разборки труб. Фитинги служат и
      для герметичного перекрытия трубопровода и прочих вспомогательных целей.
      </span>
  </div>
</div>
