<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
Компания «Аква Технолоджи» занимается строительством бетонных бассейнов под ключ и гарантирует получение качественного и
    долговечного гидротехнического сооружения, полностью отвечающего требованиям заказчика.</span>
  </div>
</div>


<div class="pools__container">
  <div class="pools__description">
    <span class="header">Строительство бассейнов любых типов, оборудование для бассейнов !</span>
    <br>
    <span class="text_description">При строительстве бассейнов частного формата всегда
    возникает вопрос выбора оптимальной технологии водоподготовки воды, подбора оборудования и материалов.
    Основной целью системы водоподготовки бассейна является обеспечение безопасности и чистоты воды.
      <br>Следует
    понимать, что в отличие от водопровода, вода в бассейне оборотная, то есть одна и та же. Множество микроорганизмов
    пытаются приспособить ее под свою среду обитания, водоросли находят себе «тихие заводи» в местах, где отсутствует
    движение воды. Опыт показывает, что достаточно выполнения всего трех условий (но обязательно всех трех), что бы
    вода в бассейне долгое время оставалась чистой и здоровой.</span>
  </div>
  <img src="./../../../../../assets/pool1.jpg" class="pools__image_top">
</div>

<div class="pools__container">

  <img src="./../../../../../assets/pool2.jpg" class="pools__image_bottom">

  <div class="pools__description">
    <span class="text_description">В настоящее время общественные бассейны – явление распространенное, даже в
      небольших городах. Они есть практически в каждом фитнес-центре, спортивном клубе, а также в банях, спа-центрах
      и т.д. Данная тенденция обусловлена как высоким интересом потребителей к водному отдыху, так и тем,
      что современные технологии и материалы позволяют построить бассейн в короткие сроки и без огромных финансовых
      затрат.
      <br>
      ООО «Аква Технолоджи» в отличие от большинства организаций отрасли, работает как с частными заказчиками, так и выполняет
      строительство общественных бассейнов. Основной особенностью сооружения подобных объектов являются повышенные
      требования к ним. При возведении данных объектов должны использоваться абсолютно безопасные и очень прочные
      материалы.
      <br>Также строгим стандартам должно отвечать качество воды в чаше и воздуха в помещении, скорость их
      обновления и др. Кроме того, все применяемое оборудование обязано обладать высокой мощностью, надежностью и
      износостойкостью.
    </span>

  </div>

</div>
