<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
Исходя из Ваших индивидуальных критериев Вы можете выбрать из нескольких вариантов отделки стен Вашего бассейна</span>
  </div>
</div>

<div class="purpose" >
  <span>Варианты отделки стен бассейна</span>
  <ul>
    <li>-Армированная пленка (лайнер) - в пользу выбора армированной пленки говорит много факторов, как экономического,
      так и эстетического плана. Пленка для бассейна одновременно обеспечивает гидроизоляцию бассейна, что существенно
      снижает его стоимость по сравнению с отделкой из плитки или мозаики, требующей предварительного устройства качественного
      гидроизоляционного слоя, который, зачастую в ходе многолетней эксплуатации бассейна начинает протекать.
    </li>
    <li>-Мозайка - Имеет наивысшее качество из всей существующей плитки, широкий спектр красок и большая цветовая гамма,
      очень удобна для изготовления различного рода панно, благодаря своим размерам и обилию раскрасок.
    </li>
    <li>-Плитка -  создается из достаточно прочных и долговечных материалов, которые сохранят свои практические свойства даже при длительном контакте с водой,
      правильно подобранная плитка будет служить гарантом от возникновения нежелательных микроорганизмов на стенках и дне бассейна,
      этот материал удобен в эксплуатации: с помощью клея вы сможете легко разместить плитку в любой зоне бассейна – и
      справиться с этой задачей без специальной подготовки,  при необходимости уборки бассейна вы с легкостью очистите
      плитку от загрязнений, плитка для бассейна отличается большим разнообразием оттенков, рисунков, размеров и форм.
      Ее можно задействовать для декорирования бассейна любого типа.
    </li>
  </ul>
</div>
<div class="catalog"><span>КОНТЕЙНЕР С ТОВАРАМИ</span></div>
