<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
ООО "АКВА ТЕХНОЛОДЖИ" является первым поставщиком на территорию Таможенного союза бассейного оборудования из Германии, Испании, Китая
  и прочих стран.</span>
  </div>
</div>


<div class="trade-mark__container">
  <div class="trade-mark__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/trade-mark1.png">
  </div>
  <div class="trade-mark__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/trade-mark1.png">
  </div>
  <div class="trade-mark__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/trade-mark1.png">
  </div>
  <div class="trade-mark__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/trade-mark1.png">
  </div>
  <div class="trade-mark__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/trade-mark1.png">
  </div>
  <div class="trade-mark__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/trade-mark1.png">
  </div>
  <div class="trade-mark__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/trade-mark1.png">
  </div>
  <div class="trade-mark__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/trade-mark1.png">
  </div>

</div>
