:host {
  display: flex;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  &_left {
    width: 30%;
    height: calc(100% - 2px);
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  &_right {
    width: calc(70% - 1px);
    height: calc(100% - 2px);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
