<div class="slideshow">
<div class="slideshow__container">
  <span class="slideshow__description">Частный бетонный басейн</span>
  <button (click)="showSlides(2,'mySlides','first')" class="slideshow__button" style="background-image: url(../../../../assets/port1.jpg);"></button>
  <div id="first" [ngClass]="getClasse('first')" style="display:none;">

    <div class="mySlides fade" style="width:100%">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides','first')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides','first')">&#10095;</a>
      <div style="background:url(../../../../assets/port1.jpg) no-repeat" class="slideshow__image"></div>
      <button (click)="hideSlides('first')" class="slideshow__button_hide"></button>
    </div>


    <div class="mySlides fade">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides','first')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides','first')">&#10095;</a>
      <div style="background:url(../../../../assets/port2.jpg) no-repeat" class="slideshow__image"></div>
      <button (click)="hideSlides('first')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides fade">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides','first')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides','first')">&#10095;</a>
      <div style="background:url(../../../../assets/port3.jpg) no-repeat" class="slideshow__image"></div>
      <button (click)="hideSlides('first')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides fade">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides','first')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides','first')">&#10095;</a>
      <div style="background:url(../../../../assets/port4.jpg) no-repeat" class="slideshow__image"></div>
      <button (click)="hideSlides('first')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides fade">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides','first')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides','first')">&#10095;</a>
      <div style="background:url(../../../../assets/port5.jpg) no-repeat" class="slideshow__image"></div>
      <button (click)="hideSlides('first')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides fade">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides','first')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides','first')">&#10095;</a>
      <div style="background:url(../../../../assets/port6.jpg) no-repeat" class="slideshow__image"></div>
      <button (click)="hideSlides('first')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides fade">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides','first')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides','first')">&#10095;</a>
      <div style="background:url(../../../../assets/port7.jpg) no-repeat" class="slideshow__image"></div>
      <button (click)="hideSlides('first')" class="slideshow__button_hide"></button>
    </div>

  </div>
</div>

<div class="slideshow__container">
  <span class="slideshow__description">Дворец водных видов спорта, г. Гомель</span>
  <button (click)="showSlides(2,'mySlides2','second')" class="slideshow__button" style="background-image: url(../../../../assets/port8.jpg);"></button>
  <div id="second" [ngClass]="getClasse('second')" style="display:none;">

    <div class="mySlides2 fade" style="width:100%">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides2','second')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides2','second')">&#10095;</a>
      <div style="background:url(../../../../assets/port9.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
      <button (click)="hideSlides('second')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides2 fade" style="width:100%">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides2','second')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides2','second')">&#10095;</a>
      <div style="background:url(../../../../assets/port10.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
      <button (click)="hideSlides('second')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides2 fade" style="width:100%">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides2','second')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides2','second')">&#10095;</a>
      <div style="background:url(../../../../assets/port11.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
      <button (click)="hideSlides('second')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides2 fade" style="width:100%">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides2','second')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides2','second')">&#10095;</a>
      <div style="background:url(../../../../assets/port12.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
      <button (click)="hideSlides('second')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides2 fade" style="width:100%">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides2','second')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides2','second')">&#10095;</a>
      <div style="background:url(../../../../assets/port13.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
      <button (click)="hideSlides('second')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides2 fade" style="width:100%">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides2','second')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides2','second')">&#10095;</a>
      <div style="background:url(../../../../assets/port14.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
      <button (click)="hideSlides('second')" class="slideshow__button_hide"></button>
    </div>

    <div class="mySlides2 fade" style="width:100%">
      <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides2','second')">&#10094;</a>
      <a class="slideshow_next" (click)="plusSlides(1,'mySlides2','second')">&#10095;</a>
      <div style="background:url(../../../../assets/port15.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
      <button (click)="hideSlides('second')" class="slideshow__button_hide"></button>
    </div>

  </div>
</div>

  <div class="slideshow__container">
    <span class="slideshow__description">Частный бассейн лайнер</span>
    <button (click)="showSlides(2,'mySlides3','third')" class="slideshow__button" style="background-image: url(../../../../assets/port16.jpg);"></button>
    <div id="third" [ngClass]="getClasse('third')" style="display:none;">

      <div class="mySlides3 fade" style="width:100%">
        <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides3','third')">&#10094;</a>
        <a class="slideshow_next" (click)="plusSlides(1,'mySlides3','third')">&#10095;</a>
        <div style="background:url(../../../../assets/port16.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
        <button (click)="hideSlides('third')" class="slideshow__button_hide"></button>
      </div>

      <div class="mySlides3 fade" style="width:100%">
        <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides3','third')">&#10094;</a>
        <a class="slideshow_next" (click)="plusSlides(1,'mySlides3','third')">&#10095;</a>
        <div style="background:url(../../../../assets/port17.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
        <button (click)="hideSlides('third')" class="slideshow__button_hide"></button>
      </div>

      <div class="mySlides3 fade" style="width:100%">
        <a class="slideshow_prev" (click)="plusSlides(-1,'mySlides3','third')">&#10094;</a>
        <a class="slideshow_next" (click)="plusSlides(1,'mySlides3','third')">&#10095;</a>
        <div style="background:url(../../../../assets/port18.jpg) no-repeat; background-size:cover;" class="slideshow__image"></div>
        <button (click)="hideSlides('third')" class="slideshow__button_hide"></button>
      </div>

    </div>
  </div>

</div>
