:host {
  width: 100%;
  height: (calc(100% - 420px));
  background: rgb(222, 228, 237);
  display: flex;
}

.slideshow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
  &__image {
    position: relative;
    height: 90%;
    width: 1200px;
    top: 5%;
    left: 16%;
    background-size: contain;
  }
  &__button {
    background-size: cover;
    width: 1400px;
    height: 800px;
    margin-bottom: 100px;
    &_hide {
      width: 50px;
      height: 50px;
      z-index: 25;
      position: fixed;
      border: 0;
      top: 0;
      right: 0;
      background: url(../../../../assets/close.png) no-repeat;
      background-size: cover;
    }
  }
  &__description {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    &:first-child {
      margin-top: 50px;
    }
  }
  &_prev, &_next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index: 24;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  &_next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

}

.mySlides {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 15;
}

.mySlides2 {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 15;
}

.mySlides3 {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 15;
}


@-webkit-keyframes fade {
  from {
    opacity: 0.4
  }
  to {
    opacity: 1
  }
}


