:host {
  width: 100%;
  height: (calc(100% - 420px));
  background-color: #bbbbbb;
}

.image {
  &_description {
    text-align: center;
    width: 50%;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    font-family: Segoe UI Light, serif;
    letter-spacing: 2px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 50px;
  }
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 20px;
  span{
    font-size: 20px;
  }
  ul{
    list-style-type: none;
    li{
      padding: 5px;
      font-size: 15px;
    }
  }
}

.catalog {
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top: 10px;
  margin-left: 5%;
  width: (calc(100% - 200px));
  height: 1000px;
  border: 1px solid black;
}
