<div class="image_container">
<img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
Композитный бассейн – это способ быстро, просто и недорого построить удобный и современный водоем на своем приусадебном участке.
    Конструкция из композита полностью готова к установке и не нуждается в проведении дорогостоящих работ,
    вроде строительства железо-бетонной чаши с последующей гидроизоляцией и отделочными работами.</span>
  </div>
</div>

<div class="reason" >
  <span>ШЕСТЬ ПРИЧИН КУПИТЬ КОМПОЗИТНЫЙ БАССЕЙН</span>
  <ul>
  <li>-Долгий срок службы. Композит отличает высокая надежность и долговечность. Конструкции из него способны служить от 20 до 50 лет.</li>
 <li>-Механическая прочность. Стенки бассейна специальным образом армируются,
   поэтому конструкция чаши ударостойкая и выдерживает давление воды и возможные почвенные подвижки.</li>
  <li>-Стойкость к агрессивным факторам. Композит не разлагается под воздействием химических и абразивных составов,
    не меняет свойств под воздействием УФ-лучей.</li>
  <li>-Быстрый монтаж. Установка производится в короткие сроки без привлечения тяжелой техники.
    Использовать бассейн можно сразу после монтажа и обвязки технологическими трубопроводами.</li>
    <li>-Простой ремонт. Любое повреждение конструкции можно исправить с помощью технологии наплавления.</li>
  <li>-Пластичность материала позволяет создавать бассейны любых форм и размеров.</li>
  </ul>
</div>
<div class="catalog"><span>КОНТЕЙНЕР С ТОВАРАМИ</span></div>
