:host {
  width: 100%;
  height: (calc(100% - 420px));
  background-color: #bbbbbb;
}

.payment {
  &__container {
    display: flex;

    justify-content: space-around;
    padding: 30px 30px;
  }
  &__description {
    width: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  &__scheme {
    display: flex;
    flex-direction: column;
  }
  &__image {
    &_top {
      margin-left: 20px;
      width: 90%;
    }
  }
}

.image {
  &_description {
    text-align: center;
    width: 50%;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    font-family: Segoe UI Light, serif;
    letter-spacing: 2px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 50px;
  }
}
