<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
Мы позаботились о том, чтобы оплата покупки была доступна в той форме, которую предпочитаете лично Вы.
Независимо от выбранной формы оплаты, расчет производится только в белорусских рублях. </span>
  </div>
</div>

<div class="payment__container">
  <div class="payment__description">
    <br>
    <span style="font-weight: bold;">Безналичный расчет</span>
    <br>
    <span>Для физический лиц существует возможность оплатить счета компании через кассу любого банка.
     <br> Для юридических лиц есть возможность приобрести товар посредством банковского перевода. Цены на сайте актуальны
      и включают в себя НДС.
    </span>
    <br>
    <span style="font-weight: bold;">Расчет наличными
    </span>
    <br>
    <span>Вы можете оплатить услуги наличными в кассу на офисе комании и на складе при самовывозе.
    </span>
    <br>
    <span style="font-weight: bold;">Банкоской карточкой</span>
    <br>
    <span>Оплата банковской карточкой через терминал проиоводится только в офисе компании по адресу: г. Минск,
      ул. Монтажников 9, офис 84.</span>

</div>
</div>


