<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
    ООО "Аква Технолоджи" выполняет работы по монтажу оборудования водоподготовки как для общественных, так и частных бассейнов.
</span></div>
</div>

<div class="pools__container">
  <div class="pools__description">
    <a routerLink="finished-swimming-pools"><span class="header">Оборудование для бассейнов</span></a>
    <br>
    <span class="text_description">
      Композитный бассейн – это способ быстро, просто и недорого построить удобный и современный водоем на своем
      приусадебном участке. Конструкция из композита полностью готова к установке и не нуждается в проведении
      дорогостоящих работ, вроде строительства железо-бетонной чаши с последующей гидроизоляцией и отделочными работами.
    </span>
  </div>
  <a routerLink="finished-swimming-pools"><img src="./../../../../../assets/composit1.jpg" class="pools__image_1"></a>
</div>

<div class="pools__container">
  <a routerLink="pool-development"><img src="./../../../../../assets/pool-development1.jpg" class="pools__image_bottom"></a>
  <div class="pools__description">
    <a routerLink="pool-development"><span class="header">Строительство бассейнов</span></a>
    <br>
    <span class="text_description">Аква Технолоджи выполняет работы по монтажу оборудования водоподготовки как для
      общественных, так и частных бассейнов. Для общественных бассейнов мы предложим полную комплектацию оборудованием,
      предусмотренным в строительном проекте. Наша компания выполняет строительство как 25 или 50 метровых плавательных
      бассейнов, так и прыжковых бассейнов. Повышенные требования предъявляются к строительству детских бассейнов. В
      разделе <a routerLink="../portfolio">Портфолио</a>  нашего сайта можно ознакомиться с основными объектами, которые выполняла наша компания.
      <br>
      <br>
При строительстве бассейнов частного формата всегда возникает вопрос выбора оптимальной технологии водоподготовки воды,
      подбора оборудования и материалов. Основной целью системы водоподготовки бассейна является обеспечение безопасности
      и чистоты воды. Следует понимать, что в отличие от водопровода, вода в бассейне оборотная, то есть одна и та же.
      Множество микроорганизмов пытаются приспособить ее под свою среду обитания, водоросли находят себе «тихие заводи»
      в местах, где отсутствует движение воды. Опыт показывает, что достаточно выполнения всего трех условий (но
      обязательно всех трех), что бы вода в бассейне долгое время оставалась чистой и здоровой.      </span>
  </div>

</div>
