<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'"
              [animation]="'fade'">
  <!--First slide-->
  <mdb-slide>
    <img class="d-block w-100" src="../../../../assets/homepageslider1.jpg" alt="First slide">
    <div class="mySlides__description">
      <span>Компания обеспечивает гарантийное обслуживание поставленных бассейнов и оборудования.
      Сервис ведется на нескольких уровнях обслуживания, как от диагностического сервиса,
      так и сервисное обслуживание по классу "люкс" с полным комплексом услуг по сервису бассейна.</span>
    </div>
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <img class="d-block w-100" src="../../../../assets/homepageslider2.jpg" alt="Second slide">
    <div class="mySlides__description">
      <span>Компания обеспечивает гарантийное обслуживание поставленных бассейнов и оборудования.
      Сервис ведется на нескольких уровнях обслуживания, как от диагностического сервиса,
      так и сервисное обслуживание по классу "люкс" с полным комплексом услуг по сервису бассейна.</span>
    </div>
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <img class="d-block w-100" src="../../../../assets/homepageslider3.jpg" alt="Third slide">
    <div class="mySlides__description">
      <span>Компания обеспечивает гарантийное обслуживание поставленных бассейнов и оборудования.
      Сервис ведется на нескольких уровнях обслуживания, как от диагностического сервиса,
      так и сервисное обслуживание по классу "люкс" с полным комплексом услуг по сервису бассейна.</span>
    </div>
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
<div class="description_mobile">
  <div class="description_mobile_first"> <span>Компания обеспечивает гарантийное обслуживание поставленных бассейнов и оборудования.
      Сервис ведется на нескольких уровнях обслуживания, как от диагностического сервиса,
      так и сервисное обслуживание по классу "люкс" с полным комплексом услуг по сервису бассейна.</span></div>
    <div class="description_mobile_second"><span>Компания обеспечивает гарантийное обслуживание поставленных бассейнов и оборудования.
      Сервис ведется на нескольких уровнях обслуживания, как от диагностического сервиса,
      так и сервисное обслуживание по классу "люкс" с полным комплексом услуг по сервису бассейна.</span></div>

  <div class="description_mobile_third"><span>Компания обеспечивает гарантийное обслуживание поставленных бассейнов и оборудования.
      Сервис ведется на нескольких уровнях обслуживания, как от диагностического сервиса,
      так и сервисное обслуживание по классу "люкс" с полным комплексом услуг по сервису бассейна.</span></div>
</div>

