@media (min-device-width: 1024px) {
  :host {
    width: 100%;
    height: (calc(100% - 31vw));
  }

  .mySlides {
    &__description {
      text-align: center;
      width: 60%;
      height: 320px;
      background: rgba(255, 255, 255, 0.85);
      position: absolute;
      left: 20%;
      font-family: Segoe UI Light, serif;
      letter-spacing: 2px;
      font-size: 20px;
      display: flex;
      align-items: center;
      padding: 0 50px;

      span {
        border-top: 0.1px solid black;
        border-bottom: 0.1px solid black;
        padding: 25px 0;
      }
    }
  }
  .description{
    &_mobile{
      display: none;
    }
  }
}

@media (max-device-width: 1023px){
  :host{
    width: 100%;
    height: (calc(100% - 250px));
  }
  .mySlides{
    &__description{
      display: none;
    }
  }
  .description{
    &_mobile{
      display: flex;
      flex-wrap: wrap;
      margin: 40px 5%;
      justify-content: space-around;
      &_first{
        width: 300px;
        background: lightblue;
        margin: 0 10px 40px;
        padding: 3%;
        text-align: center;
      }
      &_second{
        width: 300px;
        margin: 0 10px 40px;
        background: lightblue;
        text-align: center;
        padding: 3%;
      }
      &_third{
        margin: 0 10px 40px;
        width: 300px;
        background: lightblue;
        text-align: center;
        padding: 3%;
      }
    }
  }
}


