<div class="footer__container_top"><a routerLink="">
  <img src="../../../assets/logofooter.png" class="footer__logo">
</a>
</div>

<div class="footer__container_bottom">
  <ul>
    <li><span><a routerLink="about/order-and-payment">ЗАКАЗ И ОПЛАТА</a> </span></li>
    <li><span>&#8226;</span></li>
    <li><span><a routerLink="about/delivery">ДОСТАВКА И САМОВЫВОЗ</a></span></li>
    <li><span>&#8226;</span></li>
    <li><span><a routerLink="about">КОМПАНИЯ</a> </span></li>
  </ul>
</div>




