@media (min-device-width: 1024px) {
  :host {
    width: 100%;
    height: 19vw;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .footer {
    &__container {
      &_top {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
      &_bottom {
        height: calc(100% - 10vw - 20px);
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          -webkit-padding-start: 0;
          text-align: center;
          border-top: 0.1px solid black;
          padding-top: 15px;
          width: 70%;
          font-size: 1.2vw;
        }
        li {
          display: inline;

        }
        span {
          padding: 0 10px;
          letter-spacing: 2px;
          a{
            text-decoration: none;
            color: black;
            &:hover{
              color: brown;
            }
          }

        }
      }
    }
    &__logo {
      height: 10vw;
    }
  }
}

@media (max-device-width: 1023px) {
  :host {
    width: 90%;
    height: 100px;
    display: flex;
    font-size: 14px;
    padding: 0 5%;
  }
  .footer {
    &__container {
      &_top {
        display: none;
      }
      &_bottom {
        width: 100%;
        ul {
          -webkit-padding-start: 0;
          text-align: center;
        }
        li {
          display: inline;

        }
        span {
          padding: 0 10px;

        }
      }
    }
  }
}
