<div class="image_container">

  <img src="../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
    Мы профессионально
    занимается обслуживанием, как частных, так и общественных бассейнов. С нашей услугой технического обслуживания плавательных
    бассейнов вы можете забыть, что такое проблемы с качеством и температурой воды, слабой циркуляцией, неработоспособностью
    аттракционов и невозможностью использования бассейна по назначению в любое время года.</span>
  </div>

</div>

<div class="text">

<span>Наши специалисты приезжают в согласованное с Вами время, осматривают Ваш бассейн, оборудование и предоставляют Вам смету,
  которая будет соответствовать Вашему бюджету.</span>

  <span>Ежемесячные мероприятия проводимые нашими специалистами:</span>
  <ul>
    <li>-Промывка префильтров насосов циркуляции и префильтров насосов аттракционов.</li>
    <li>-Проверка состояния загрузки фильтров и промывка их.</li>
    <li>-Промывка и очистка электродов анализатора качества воды. При необходимости калибровка станции контроля и
      дозации реагентов.
    </li>
    <li>-Доставка и заправка емкости станций дозации реагентов</li>
    <li>-Осмотр состояния трубопроводов, стыков и креплений. По необходимости, устранение дефектов.</li>
    <li>-Осмотр состояния электрических контактов и панелей управления. По необходимости, устранение дефектов.</li>
    <li>-Осмотр состояния датчиков и автоматики уровня компенсационного резервуара.</li>
    <li>-Проведение профилактики электромагнитных клапанов.</li>
  </ul>
  <span>Все даты ремонта и обслуживания бассейнов отмечаются в журнале, составляются протоколы.</span>
  <span>Ежегодные мероприятия проводимые специалистами по обслуживанию бассейнов:</span>
  <ul>
    <li>-Замена электродов анализа воды на новые. Их ресурс работы установлен производителем в 1 год.</li>
    <li>-Калибровка станции дозации реагентов с новыми электродами. Замена силиконовых клапанов насосов — дозаторов.
    </li>
    <li>-Вскрытие фильтров и проверка высоты и качества загрузки. При необходимости добававление уровня
      кварцевого песка или замена его. Срок службы песка не должен превышать 3 лет.
    </li>
    <li>-В журнале отметка даты последней замены электродов, последнего осмотра загрузки фильтров
      и дезинфекции бассейна.
    </li>
    <li>-Дополнительно в рамках договоров на техническое обслуживание мы проводим необходимые работы
      по ремонту оборудования бассейнов, поставку и замену запасных частей бассейнового оборудования, поставку
      химических реагентов, дефектацию бассейнов не стоящих на обслуживании, составление РЭ (руководства по
      эксплуатации).
    </li>
  </ul>

</div>
