@media (min-device-width: 1240px) {
  :host {
    width: 100%;
    height: (calc(100% - 420px));
  }

  .image {
    &_description {
      text-align: center;
      width: 50%;
      color: white;
      position: absolute;
      top: 30%;
      left: 25%;
      font-family: Segoe UI Light, serif;
      letter-spacing: 2px;
      font-size: 20px;
      display: flex;
      align-items: center;
      padding: 0 50px;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    margin-left: 10%;
    font-size: 17px;
  }
  ul{
    list-style-type: none;
  }

}

@media (max-device-width: 1239px) {
  :host {
    width: 100%;
    height: (calc(100% - 250px));
    background: gray;
  }
}

