<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
    Фитинги служат для того, чтобы соединять оборудование для бассейна непосрественно с телом бассейна.
  </span>  </div>
</div>

<div class="purpose">
  <span>Фитинги и их назначение</span>
  <ul>
    <li>-Трубы - </li>
    <li>-Краны - </li>
    <li>-Соединения, обратные клапаны, проходы - </li>
    <li>-Углы, отводы, тройники, переходы, редукции - </li>
    <li>- Клей, очиститель - </li>
  </ul>
</div>
<div class="catalog"><span>КОНТЕЙНЕР С ТОВАРАМИ</span></div>
