<div class="image_container">
  <img src="../../../../../assets/mainbackg.jpg" style="width: 100%;">
  <div class="image_description"><span>
Мы внимательно относимся к отзывам наших покупателей, а потому заслужили называться ответственной компанией.</span>
  </div>
</div>


<div class="review__container">
  <div class="review__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/review1.jpg">
  </div>
  <div class="review__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/review1.jpg">
  </div>
  <div class="review__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/review1.jpg">
  </div>
  <div class="review__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/review1.jpg">
  </div>
  <div class="review__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/review1.jpg">
  </div>
  <div class="review__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/review1.jpg">
  </div>
  <div class="review__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/review1.jpg">
  </div>
  <div class="review__block"><span>ASTRAL POOL (Германия)</span><img src="./../../../../../assets/review1.jpg">
  </div>

</div>
