:host {
  width: 100%;
  height: (calc(100% - 420px));
  background-color: #bbbbbb;
}

.image {
  &_description {
    text-align: center;
    width: 50%;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    font-family: Segoe UI Light, serif;
    letter-spacing: 2px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 50px;
  }
}

.review {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__block {
    width: 25%;
    height: 50%;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;
  }
}
img {
  width: 100%;
  height: 40%;
}
